{% extends "base.html" %}

{% block body %}
<div class="row">
    <table class="table">
        <caption>Historial de Conexion</caption>
        <thead>
          <tr>
            <td>Usuario</td>
            <td >Nombre</td>
            <td >Apellido</td> 
            <td>Correo</td>
          </tr>
        </thead>
        
        <tbody>

            <!---RECORRIDO DEL RESULTADO DEL SP (CONSULTA)-->
            {% for item in resultado %}
            <tr>
                {% for result in item %}
                    <td>
                        {{ result }}

                    </td>
                {% endfor %}

            </tr>

          {% endfor %}
        </tbody>
      </table>

</div>


{% endblock %}
