{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <form action="/RegistroUsuario" class="form-horizontal" method="post">
                            {% csrf_token %}
                            <fieldset>
                                <legend class="text-center header"><strong>REGISTRO DE USUARIO</strong></legend>
        
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                    <div class="col-md-8">
                                        <input id="txtUsuario" name="txtUsuario" required type="text" placeholder="Ingresa tu Usuario" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                    <div class="col-md-8">
                                        <input id="txtNombre" name="txtNombre" required type="text" placeholder="Primer Nombre" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                    <div class="col-md-8">
                                        <input id="txtApellido" name="txtApellido" required type="text" placeholder="Primer Apellido" class="form-control">
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                                    <div class="col-md-8">
                                        <input id="txtEmail" name="txtEmail" type="email" placeholder="Ingresa tu email" 
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" >

                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                                    <div class="col-md-8">
                                        <input id="txtPassword" name="txtPassword" type="password" placeholder="Ingresa tu Contraseña" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                                    <div class="col-md-8">
                                        <input id="txtPasswordConfirm" name="txtPasswordConfirm" type="password" placeholder="Confirmar Contraseña" class="form-control">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                                    <div class="col-md-8">
                                        <select id="ddlPregunta" name="ddlPregunta" class="form-control">
                                            <!-----COLOCAR LA RUTINA PARA RECUPERAR LOS VALORES-->
                                            {% for resultados in  preguntas %}
                                                <option value="{{ resultados.id  }}"> {{  resultados.Pregunta }}</option>
                                            {% endfor %}
                                        </select>
                                        
                                    </div>
                                </div>

                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                                    <div class="col-md-8">
                                       <textarea placeholder="Ingresa tu respuesta de Pregunta Secreta" id="txtRespuesta" name="txtRespuesta" class="form-control"></textarea>
                                    </div>
                                </div>
        
        

                                <div class="form-group">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-primary btn-lg">Registrar Usuario</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
    </body>
</html>